ENV=dev # dev or prod
PORT=80

# SSL_CERT_FILE=/etc/letsencrypt/live/your.domain/fullchain.pem
# SSL_KEY_FILE=/etc/letsencrypt/live/your.domain/privkey.pem

DB_PATH=./database

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

# GOATCOUNTER_URL=https://your.goatcounter.com
